# Virtual Environment
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

#Media Files
media/
uploads/

# Redis
dump.rdb

# VS Code and System Files
.vscode/
.DS_Store
Thumbs.db


# Django and Celery
db.sqlite3
*.sqlite3
*.log
celerybeat-schedule
node_modules/