# Redis
dump.rdb

# VS Code and System Files
.vscode/
.DS_Store
Thumbs.db

# Ignore virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
*.db
*.sqlite3

# Ignore environment variables file
.env

# Ignore system-specific files
.DS_Store
celerybeat-schedule

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore static files
staticfiles/

# Ignore media files
media/
uploads/

# Ignore node_modules if using Node.js
node_modules/